div.container
	div( *ngIf='event')
		div([hidden]='submitted')
			form( [hidden]='!active', (ngSubmit)='onSubmit()', #eventForm='ngForm')
				div.form-group
					label(for='title') Titel
					input.form-control(type='text', required [(ngModel)]='event.title', ngControl='title', #title='ngForm')
					div.alert.alert-danger([hidden]='title.valid || title.pristine') Titel wird benötigt
				div.row
					div.col-md-6
						div.form-group
							label(for='date') Datum {{event.date | iso8601ToDate}}
							datepicker( (onDatePicked)='onDatePicked($event)' )
							input.form-control.hidden(type='text', required [(ngModel)]='event.date', value='getDate()', ngControl='date', #date='ngForm', disabled='')
							div.alert.alert-danger([hidden]='date.valid || date.pristine') Datum wird benötigt
					div.col-md-6
						div.form-group
							label(for='deadline') Anmeldefrist {{event.deadline | iso8601ToDate}}
							datepicker( (onDatePicked)='onDeadlinePicked($event)' )
							input.form-control.hidden(type='text', required [(ngModel)]='event.deadline', ngControl='deadline', #deadline='ngForm', disabled='')
							div.alert.alert-danger([hidden]='deadline.valid || deadline.pristine') Anmeldefrist wird benötigt
				div.form-group
					label(for='maxParticipants') maximale Teilnehmeranzahl
					input.form-control(type='number', min='20', max='200', required [(ngModel)]='event.maxParticipants', ngControl='maxParticipants', #maxParticipants='ngForm')
					div.alert.alert-danger([hidden]='maxParticipants.valid || maxParticipants.pristine') Teilnehmeranzahl wird benötigt
				div.form-group
					label(for='location') Ort
					input.form-control#search-box(type='text', required [(ngModel)]='event.location', ngControl='location', #location='ngForm')
					div.alert.alert-danger([hidden]='location.valid || location.pristine') Ort wird benötigt
				div.row.hidden
					div.col-lg-4
						div.form-group
							input.form-control(type='text', [(ngModel)]='event.lat', ngControl='lat', #lat='ngForm')
					div.col-lg-6
						div.form-group
							input.form-control(type='text', [(ngModel)]='event.lng', ngControl='lng', #lng='ngForm')
				div.alert.alert-dismissible.alert-custom
					button.close(type='button', data-dismiss='alert' ) &times;
					p Wusstest du schon: Du kannst Markdown verwenden um deine Beschreibung zu stylen.
				div.form-group
					label(for='notes') Beschreibung
					textarea.form-control(type='text', required [(ngModel)]='event.notes', ngControl='notes', #notes='ngForm', rows='5')
					div.alert.alert-danger([hidden]='notes.valid || notes.pristine') beschreibung wird benötigt
				div.form-group( *ngIf='event.notes != ""')
					h5 Vorschau deiner Beschreibung
					div.well( [innerHTML]='event.notes | markdown' )
				button.btn.btn-default(type='submit', [disabled]='!eventForm.form.valid') Speichern
		div([hidden]='!submitted')
			div.row
				div.col-md-12
					h2 {{event.title}}
					img.img-centered(src='placeholder.png')
			div.row
				div.col-md-6
					div.panel.panel-primary
						div.panel-heading Informationen
						div.panel-body
							div
								label #ID
								span.pull-right {{event.id}}
							div
								label Datum
								span.pull-right {{event.date | iso8601ToDate }}
							div
								label Deadline
								span.pull-right {{event.deadline | iso8601ToDate }}
							div
								label Status
								span.pull-right( *ngIf='event.isCancelled' ) Dieses Event wurde leider abgesagt.
								span.pull-right( *ngIf='!event.isCancelled' ) Findet statt!
							div
								label Teilnehmer
								span.pull-right {{event.participants?.length}} / {{event.maxParticipants}}
				div.col-md-6( *ngIf='event.lat && event.lng')
					img.img-events( src="{{getLocationLink(event)}}" )
			div.row
				div.col-md-12
					div
						h3 Regelwerk
						hr(style='margin-top: 0px;')
						span {{event.policy}}
					div
						h3 Beschreibung
						hr(style='margin-top: 0px;')
						div( [innerHTML]='event.notes | markdown')
			h3 Teilnehmer
			table.table
				tr
					td ID
					td Alias
				tr( *ngFor='#pilot of event?.participants')
					td {{pilot.id}}
					td {{pilot.alias}}
			button.btn.btn-default.pull-right( [hidden]='!isCreator', (click)='submitted=false;loadPlaces()' ) Bearbeiten
			button.btn.btn-primary( (click)='goBack()' ) Zurück